.top{
    position: sticky; 
    top: 0px;
    background-color: brown; 
    width: auto; 
    height: 50px;
}
body{
    margin: 0px;
    background-color: rgb(60, 60, 255);
}
.arrow{
    width: 30; 
    height: 40;
}